<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.first_name %></strong>
    <i><%= params[:locale] == 'de' ? l(message.created_at, format: "%a %e. %b um %l:%M") : l(message.created_at, format: "%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
