// Define variables for your color scheme

$lighter-purple: #F2F6FE;
$lighter-purple2:#d2d5f8;
$white: #FFFFFF;
$darker-purple: #1C295D;
$dark-grey: #3C3F49;
$lilac: #9BA7C6;
$dark-purple: #383B92;
$purple: #585CE5;
$purple2: rgba(123, 126, 234, 0.9);
$light-purple: #D3D5F8;
$pink: #FF84FF;
$dark-petrol: #0c9cbe;
$petrol: #00BFBA;
$light-petrol: #bcf8f6;
$emergency-rose: #F18F8E;
$organe: rgb(224, 174, 80);
