// Define variables for your color scheme

$lighter-purple: #F2F6FE;
$white: #FFFFFF;
$darker-purple: #1C295D;
$dark-grey: #3C3F49;
$lilac: #9BA7C6;
$dark-purple: #383B92;
$purple: #585CE5;
$light-purple: #D3D5F8;
$pink: #FF84FF;

$background: hsl(0, 0%, 20%);
$accent: hsl(222, 99%, 61%);
$accent-dark: hsl(222, 99%, 41%);
$button-login: hsl(178, 100%, 37%);
$button-login-hover: hsl(191, 88%, 40%);
$early: hsl(221, 100%, 82%);
$late: hsl(222, 99%, 61%);
$night: hsl(231, 74%, 30%);
$date: hsl(191, 88%, 40%);
$emergency: hsl(0, 80%, 50%);
$highlight: hsl(300, 100%, 70%);
