// Define variables for your color scheme

$lighter-purple: #F2F6FE;
$white: #FFFFFF;
$darker-purple: #1C295D;
$dark-grey: #3C3F49;
$lilac: #9BA7C6;
$dark-purple: #383B92;
$purple: #585CE5;
$light-purple: #D3D5F8;
$pink: #FF84FF;
$dark-petrol: #06AEBF;
$petrol: #00BFBA;
