// Specific CSS for your home-page
.banner-landing-page {
  background-image: url("doctor.png");
  background-size: cover;
  background-position: center;
  padding: 8em 2em;
}
#h1-tag, #p-tag {
  color: $white;
  text-shadow: 1px 1px 1px $dark-grey, 0 0 1em $pink, 0 0 0.2em $white;
}

#h1-tag {
  font-size: 50px;
}

#p-tag {
  font-size: 16px;
}

.login-btn {
  color: $white;
}

.login-btn:hover {
  color: $white;
  background-color: #974397;
  border-color: #974397;
}
