// Specific CSS for your home-page
.page-container {
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 92vh;
}
.page-container.solid-background {
  background-image: url("nurse.png");
}

.banner-landing-page {
  display: flex;
  padding: 5rem 2.5rem;
  flex-direction: column;
  align-self: flex-start;
}

#h1-tag,
#p-tag {
  color: $white;
  text-shadow: 1px 1px 1px $dark-grey, 0 0 1em $pink, 0 0 0.2em $white;
}

#h1-tag {
  margin: 2px 0;
  font-size: 50px;
  align-self: flex-start;
}

#p-tag {
  font-size: 16px;
}

.login-btn {
  color: $white;
  width: fit-content;
}

.login-btn:hover {
  color: $white;
  background-color: #974397;
  border-color: #974397;
}
