.box {
  padding: 2vh;
  border-radius: 10px;
  background-color: $purple2;
  margin: 1rem 0px 1rem 0px !important;
  width: 90vw;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.avatar-box {
  padding: 2vh;
  border-radius: 8px;
  background-color: $purple2;
  margin: 8px !important;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  img {
    flex-grow: 0.3;
  }
}

#name {
  color: $white;
}

.text {
  color: $white;
  font-size: 20px;
  .i {
    color: $white;
    font-size: 16px;
  }
}

.pencil {
  color: $purple;
  font-size: 16px;
  text-decoration: none;
}

.pencil:hover {
  color: $dark-purple;
}

.profile-logout-button {
  background-color: hsl(348, 83%, 60%);
  border: none;
  margin: 1rem;
  padding: 1rem 3rem;
  border-radius: 10px;
  color: white;
}
