.box {
  padding: 2vh;
  border-radius: 10px;
  background-color: #d2d5f8;
  margin: 1rem 0px 1rem 0px !important;
  width: 90vw;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.avatar-box {
  padding: 2vh;
  border-radius: 8px;
  background-color: $white;
  margin: 8px !important;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  img {
    flex-grow: 0.3;
    box-shadow: 18px 9px 15px -3px $lilac;
  }
}

#name {
  color: $purple;
}

.text {
  color: $darker-purple;
  font-size: 20px;
  .i {
    color: $purple;
    font-size: 16px;
  }
}

.pencil {
  color: $purple;
  font-size: 16px;
  text-decoration: none;
}

.pencil:hover {
  color: $dark-purple;
}
