.show-box {
  padding: 2vh;
  border-radius: 10px;
  background-color: $white;
  margin: 20px !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  height: 85vh;
  padding: 1rem !important;
}

.shift-card-date-p {
  color: white;
  background-color: $lilac;
  border-radius: 20px;
  padding: 2px 12px;
  margin-bottom: 11px;
  max-width: 110px;
}
