<div class="d-flex flex-column align-items-center justify-content-center">
  <br>
  <h2><strong>Your colleagues</strong></h2>
  <% @users.each do |user|  %>
    <div class="box">
      <img src="https://kitt.lewagon.com/placeholder/users/WizardOfMenlo" class="card-trip-user avatar-bordered" />
      <%= user.first_name %>
      <%= user.last_name %>
      <div class="text">
        <i class="fas fa-user-tie i"></i>
        <%= user.functional_role.name %>
      </div>
      <div class="text">
        <i class="fas fa-coins i"></i>
        <%= user.bonus_points %> bps
      </div>
    </div>
  <% end %>
  </div>
</div>
