<div class="banner-landing-page">
  <h1><strong>Shifted</strong></h1>
  <p><strong>Finally loving work planning.</strong></p>
  <%= link_to 'Login', new_user_session_path, class: "btn btn-warning login-btn" %>
</div>
