.user-shift {
  background: white;
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .messages {
    overflow: scroll;
  }

  #new_message {
    border-top: 1px solid $gray-200;

    .form-group {
      margin-bottom: 0;
    }
  }
}
