.box.colleague-card {
  background-color: $purple2;
  display: flex;
  flex-direction: column;
  h2 {
    color: $white;
  }
}

.shout {
  margin-left: 0 !important;
  color: $purple;
}

.colleague-banner {
  display: flex;
  justify-content: space-between;
}

.role {
  margin-top: 5px;
}

.colleague-card-drop {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2rem);
  color: black;
  border: none;
  padding: 10px 20px;
}

.colleague-card-avatar {
  width: 20vw;
  margin-left: 6vw;
}

.user-infos-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vh;
}

.user-infos {
  margin-top: 10px;
  align-self: center;
}

.quote {
  background-color: $lighter-purple2;
  flex-grow: 1;
  padding: 1vh;
  border-radius: 10px;
}
