.colleague-card {
  display: flex;
  flex-direction: column;
}

.colleague-full-name {
}

.shout {
  margin-left: 0 !important;
}

.colleague-banner {
  display: flex;
  justify-content: space-between;
}

.role {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 5px;
}

.colleague-card-drop {
  background-color: $lighter-purple;
  color: black;
  border: none;
  padding: 10px 20px;
}

.colleague-card-avatar {
  width: 20vw;
  margin-left: 6vw;
}

.user-infos-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vh;
}

.user-infos {
  margin-top: 10px;
  align-self: center;
}
