.menu-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $white;
  border-radius: 1rem 1rem 0px 0px;
  height: 8vh;
  box-shadow: -1px -5px 34px 10px rgba(189, 189, 189, 0.66);
}

i {
  color: $purple;
  font-size: 2rem;
}

i:hover {
  color: $dark-purple;
}
