.menu-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8vh;
  background-color: $background;
  box-shadow: 0 3px 10px 1px $accent;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &-icon {
    color: $accent;
    font-size: 2rem;
  }

  &-icon:hover {
    color: $accent-dark;
  }
}
