.menu-bar {
  background-color: $white;
  border-radius: 16px 16px 0px 0px;
  height: 8vh;
  box-shadow: -1px -5px 34px 10px rgba(189,189,189,0.66);
}

i {
  color: $purple;
  font-size: 32px;
}

i:hover {
  color: $dark-purple;
}
