.preferred-slot-tag {
  color: white !important;
  padding: 2vh 0 0 2vh;
}

.preferred-slots {
  width: 90%;
  background-color: $purple2;
  border-radius: 10px;
  box-shadow: 0 0 15px;
  margin: 8px;
}

.form-check-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 85%;
  height: 100%;
  background-color: #9296EF;
  border: 1px solid rgba(211, 213, 248, 0.2);
  margin: 0;
  align-self: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: $light-purple-inner-box;
  padding: 2vh;
  margin: 10px;
  border-radius: 10px;
}

.grid-item {
  display: flex;
  justify-content: left;
  background-color: $light-purple-inner-box;
  color: white;
  height: 100%;
  width: 100%;
  padding: 5px 0 5px 2vh;
  text-align: center;
}

.day {
  border-radius: 10px;
  height: 30px;
}

.check-box-container {
  display: flex;
  width: 60px !important;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}

.slot-label-early {
  padding-left: 2.6vh;
}

.slot-label-late {
  padding-left: 3vh;
}
.slot-label-night {
  padding-left: 2vh;
}
