.preferred-slot-tag {
  color: white !important;
  padding: 2vh 0 0 2vh;
}

.preferred-slots {
  width: 90%;
  background-color: $purple;
  border-radius: 10px;
  box-shadow: 0 0 15px;
  margin: 8px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 90%;
  height: 100%;
  background-color: $purple;
  border: 1px solid rgba(211, 213, 248, 0.2);
}
input[type="checkbox"]:checked {
  background-color: $light-purple;
}
// input[type="checkbox"]:checked:before {
//   font-weight: bold;
// }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: $purple;
  padding-bottom: 10px;
  width: 95%;
  border-radius: 20px;
}

.grid-item {
  justify-content: center;
  background-color: $purple;
  color: white;
  height: 100%;
  width: 100%;
  padding: 5px 0 5px 0;
  text-align: center;
}

.day {
  margin-top: 5px;
  border-radius: 10px;
}
