.wrapper {
  padding: 1rem .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shift-box {
  margin: 1rem .5rem;
  border-radius: 10px;

  &--emergency {
    margin: 0;
    padding: 1rem .5rem;
    background-color: rgba(240, 128, 128, 0.7);
  }
}

.shift-card {
  color: $white;
  background-color: $purple;
  width: 90vw;
  display: flex;
  padding: 1.3rem;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;

  &-date {
    color: $white;
    background-color: $lilac;
    border-radius: 20px;
    padding: 2px 12px;
    margin-bottom: 0.75rem;
  }

  &-points {
    color: $white;
    font-size: .8rem;
    margin-bottom: 0;
  }

  &-time {
    color: $white;
    margin-bottom: 0;
    font-size: 1rem;
  }

  &-icon {
    font-size: large;
  }

  &-container {
    width: 100%;

    &-avatar {
      width: 40px;
      border: 1px solid white;
    }

    &-drop {
      background-color: $lighter-purple;
      color: black;
      padding: 10px;
      border-radius: 10px;

      &-buttons {
        display: flex;
        justify-content: center;
      }

      &-avatars {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: .5rem;
      }
    }
  }

    &--emergency {
      background-color: rgba(240, 128, 128, .9);
    }
    &--early {
      background-color: hsla(238, 73%, 70%, 0.9);
    }
    &--late {
      background-color: hsla(238, 73%, 50%, 0.9);
    }
    &--night {
      background-color: hsla(238, 73%, 30%, 0.9);
    }

  &--open {
    background-color: $white;
    color: $purple;

    i {
      color: gray;
    }

    .shift-card-points {
      color: gray;
    }

    .shift-card-time {
      color: gray;
    }
  }
}
